#cursorPointer{
    cursor: pointer !important;
}

#modalWindow {
    max-width: 880px !important;
}

#img_rounded{
    margin: 0% 17%;
    padding: 22px !important;
}

#p-custom{
    font-size: 1.0rem;
}
